.aboutCover {
    width: 100%;
    background-color: var(--secondary-color);
}

.bingcheck-section {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 4rem 2rem;
    background: var(--secondary-color);
    color: var(--quinary-color);
    text-align: center;
}

.bingcheck-heading {
    font-size: clamp(1.8rem, 4vw, 2.5rem);
    margin-bottom: 2rem;
}

.bingcheck-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
}

.bingcheck-item {
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    border-radius: 12px;
    transition: transform 0.3s ease-in-out;
}

.bingcheck-item:hover {
    transform: translateY(-5px);
}

.bingcheck-item i {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.bingcheck-item h3 {
    font-size: clamp(1.2rem, calc(2.2vw + .5rem), 1.5rem);
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

.bingcheck-item p {
    font-size: clamp(0.9rem, calc(1.7vw + .5rem), 1.1rem);
    opacity: 0.8;
}

/* Faded Numbering */
.bingcheck-number {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 4rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.1);
    z-index: 0;
}
.dmsans {
    font-family: "DM Sans", sans-serif;
}