
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --special-color: rgb(123, 31, 162);
    --primary-color: #32243e;
    --secondary-color: #210c2e;
    --tertiary-color: #3d183d;
    --quaternary-color: #f4f4f4;
    --quinary-color: #ffffff;
    --primary-font: 'Space Grotesk', sans-serif;
    --secondary-font: 'DM Sans', sans-serif;
}

body {
    /* background: linear-gradient(to right, #0f0c29, #3d183d, #32243e); */
    background-color: var(--quinary-color);
    color: var(--primary-color);
    text-align: center;
    font-size: 10px;
    font-family: "Space Grotesk", sans-serif;}

.menu-container {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
    cursor: pointer;
}
.hamburger {
    float: left;
}
.hamburger .line {
    height: 4px;
    background-color: var(--quinary-color);
    margin: 6px 0;
    transition: 0.3s;
    width: 30px;
}

.sidebar {
    position: fixed;
    top: -150px;
    /* Initially hidden above the viewport */
    right: 0;
    width: 100%;
    background-color: var(--secondary-color);
    transition: 0.3s;
    padding: 10px 0;
    z-index: 999;     
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 10px;
}

.sidebar ul li a {
    color: var(--quinary-color);
    text-decoration: none;
    font-size: 18px;
}

.sidebar.active {
    top: 0;
    /* Dropdown effect */
}
.container {
    margin: 0;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem 1rem;
    /* height: calc(100dvh - 4rem); */
    position: relative;
    overflow: hidden;
}
.imgSide {
    display: none;
}
h2 {
    margin-bottom: .5rem;
    font-size: clamp(1.2rem, calc(2vw + .1rem), 3rem);
}
h2 span{
    color:var(--special-color);
}
h3 {
    font-size: clamp(1.05rem, calc(1.2vw + .1rem), 1.5rem);
    /* text-align: left; */
}
.logo {
    position: absolute;
    top: 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 17rem;
    height: 17rem;
    opacity: 0.3;
}
.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

h1 {
    font-size: clamp(5.5rem, calc(11vw + 1rem), 10rem);
    line-height: clamp(4rem, calc(9vw + 1rem),8rem);
    font-family: var(--secondary-font);
    margin: clamp(1rem, 1.5vw, 2rem) 0;
    color: var(--special-color);
    font-weight: 900;
}

.countdown {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    width: 100%;
}

.time {
    /* background: rgba(255, 255, 255, 0.2); */
    background-color: var(--primary-color);
    color: white;
    padding: 15px;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
    font-size: clamp(0.6rem, calc(1.5vw + .5rem), 1.5rem);
    min-width: 80px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.header {
    width: 100%;
    height: 4rem;
    background-color: var(--secondary-color);
    position: absolute;
    top: 0;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.headerLogo {
    width: 60px;
    height: 60px
}
.headerLogo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.time .timeDes {
    opacity: 0.7;
}                                                                                                                                                       
.timeNumber {
    font-size: clamp(2rem, calc(2vw + 1rem), 5rem);
}
.otherSide {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background: #ffffff;
    padding: 40px 20px;
    /* text-align: left; */
}

.subInfo {
    font-size: clamp(1rem, calc(1.2vw + .5rem), 2rem);
    margin-top: 10px;
    width: 100%;
}
.subscribe {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
    font-family: 'Space Grotesk', sans-serif;
    width: 100%;
}

.subscribe input {
    padding: min(1rem, 2vw);
    width: 70%;
    height: 3rem;
    border-radius: 5px;
    outline: none;
    color: black;
    font-size: 1rem;
    border: 1px solid var(--tertiary-color);
}
.subscribe input:focus {
    border: 2px solid var(--special-color);
    box-shadow: 0 0 5px rgba(123,
        31,
        162, .5);
}
.subscribe input::placeholder {
    color: #bbb;
    font-size: 1rem;
    font-family: 'Space Grotesk', sans-serif;
}
.subscribe button {
    padding: 10px 20px;
    border: none;
    background: var(--special-color);
    color: white;
    border-radius: 5px;
    height: 3rem;
    cursor: pointer;
    transition: background 0.3s;
    font-family: 'Space Grotesk', sans-serif;
}

.subscribe button:hover {
    background: var(--tertiary-color);
}

.contact {
    margin-top: 20px;
    font-size: 0.9rem;
}

@keyframes fadeIn {
    from {
        opacity: 0.5;
    }
    
    to {
        opacity: 1;
    }
}

.dmsans {
    font-family: 'DM Sans', sans-serif;
}                                                                                                                                                                                               
@media screen and (min-width: 1024px) {
    .time {
        min-width: 100px;
        aspect-ratio: 10/5;
        gap: 10px;
        flex-direction: row;
        align-items: last baseline;        
    }
    .imgSide {
            display: block;
            position: relative;
            width: 40%;
            height: 100%;
            background: #f4f4f4;
            /* Light gray background for contrast */
        }
                .blend_overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: var(--special-color);
                    mix-blend-mode: multiply;
                    opacity: 0.2;
                    pointer-events: none;
                }
        .otherSide {
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 40px;
            background: #ffffff;
            padding: 40px 80px;
            text-align: left;
                    /* White background */
                }
    .countdown {
            justify-content: flex-start;
    }
    .subscribe {
            justify-content: flex-start;
    }
    .timeNumber {
        font-family: var(--secondary-font);
            font-weight: 800;
    }
    h2 {
        width: 100%;
    }
    .logo {
        display: none;
    }
    .imgSide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        height: 100dvh;
        padding: 0;
        
    }
    .subscribe input, .subscribe button {
        height: 4.5rem;
        font-size: 1.4rem;
        /* text-transform: uppercase; */
    }
    .subscribe input {
        border: 2px solid var(--special-color);
    }
    .aboutCover {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

